<script context="module">
    import { page } from '$app/stores';
</script>

<div class="p-5">
	<h1 class="text-xl text-gray-50">{ $page.status }</h1>
    <p class="text-gray-50">{ $page.error.Error }</p>
</div>