<script>
	import { variables } from '$lib/variables';
	import { PeerContext } from '$lib/scripts/RTCPeer';
	import { Socket } from '$lib/scripts/Socket';

    import { assets } from '$app/paths'
    import { onMount } from 'svelte';

    var video;
	var connections = null;

    onMount(async () => {
        let socket = new Socket();
        let pc = new PeerContext(socket);
        
        window.addEventListener("gotStream", () => { video.srcObject = pc.stream });
        window.addEventListener("gotViewers", () => { connections = pc.connections;});
    })

</script>

<svelte:head>
    <meta name="description" content="svelte-lightspeed on {variables.wsUrl}" />
    <meta property="og:title" content="Lightspeed stream" />
    <meta property="og:description" content="very cool livestream" />
    <meta property="og:image" content="%svelte.assets%/poster.jpg" />
</svelte:head>

<div>
    <video bind:this={video} class="bg-black max-h-screen w-full" playsinline autoplay controls muted poster={`${assets}/poster.jpg`}/>

    <div class="border-2 border-gray-800 max-w-fit mx-auto py-2 px-4 my-2 shadow-2xl">
        <a href="https://gitlab.com/endigma/lightspeed-svelte" class="text-blue-400 hover:cursor-pointer hover:font-underline text-center font-mono my-2 block">svelte-lightspeed</a>
        <p class="text-gray-400 text-center font-mono my-2">{variables.wsUrl} - {connections ? connections : "0"} connections</p> 
    </div>
</div>

<style global>
	
</style>
